body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 40px;
    background-color: #020617;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #020617;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.blog {
    padding: 40px;
}

article {
    background-color: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}